/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

/* BODY */
body {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, black, #04b9f0, black);
}

/* CONTAINER */
.app-container {
  width: 100%;
  max-width: 550px;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: rgb(139, 0, 0);
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #eee;
}

/* FORM */
#todo-form {
  display: flex;
  gap: 12px;
}

#todo-input {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#todo-input:focus {
  border-color: #04b9f0;
  outline: none;
}

button {
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #3f0fc3;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #5a67d8;
}

/* LIST */
#todo-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* TODO ITEM */
.todo-item {
  background: linear-gradient(33deg, black, rgb(27, 99, 154), rgb(27, 99, 154), black);
  padding: 18px;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 12px;
}

.todo-item:hover {
  background: linear-gradient(66deg, rgb(0, 145, 255), rgb(0, 145, 255), black, rgb(0, 145, 255));
}

/* TEXT */
.todo-item span {
  flex: 1;
  word-wrap: break-word;
  word-break: break-word;
  color: white;
}

/* COMPLETED */
.completed {
  text-decoration: line-through;
  color: #e5e5e5;
}

/* BUTTON GROUP */
.btn-group {
  display: flex;
  gap: 10px;
}

/* ACTION BUTTON BASE */
.action-btn {
  position: relative;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* COMPLETED → GREEN */
.completed-status {
  background: #22c55e;
}

/* PENDING → ORANGE */
.pending-status {
  background: #f59e0b;
}

/* TOOLTIP ONLY FOR ACTION BUTTON */
.action-btn::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);

  background: black;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;

  opacity: 0;
  pointer-events: none;
}

.action-btn:hover::after {
  opacity: 1;
}

/* DELETE BUTTON */
.delete-btn {
  background: #ef4444;
}

.delete-btn:hover {
  background: #dc2626;
}

/* EMPTY */
#todo-list p {
  text-align: center;
  color: #aaa;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .app-container {
    width: 95%;
  }

  #todo-form {
    flex-direction: column;
  }

  .todo-item {
    flex-direction: column;
  }
}